.uber-button{
  background-color: black;
  color: white;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.uber-button:hover{
  opacity: 0.8;
}