p{
  font-family: Verdana;
  margin: 0;
  width: 300px;
}

.header{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 4px;
}

.title{
  color: gray;
  font-size: 18px;
  margin-bottom: 15px;
}

.description{
  line-height: 24px;
  margin-bottom: 15px;
}

.start-button{
  font-family: Verdana;
  background-color: green;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  cursor: pointer;
}