.search-box{
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(201, 201, 201);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 8px;
}