.container{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
  border-radius: 5px;
}

.cat-picture{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.tweet-box{
  border: none;
  font-size: 16px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.tweet-button{
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
}