div{
  display: inline-block;
  margin-right: 10px;
}

p{
  font-family: Arial;
  margin: 0;
}

.container{
  width: 150px;
  height: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.profile-photo{
  width: 150px;
  height: 125px;
  object-fit: cover;
  margin-bottom: 10px;
}

.name{
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.friends{
  margin-bottom: 25px;
  margin-left: 10px;
  font-size: 15px;
  color: gray;
}

.add-button{
  background-color: rgb(92, 92, 233);
  color: white;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100px;
  border-radius: 8px;
  margin-left: 10px;
}