.google-logo{
  width: 250px;
  display: block;
  margin-left: 85px;
  margin-bottom: 10px;
}

.search-box{
  width: 400px;
  border: none;
  border-radius: 50px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}