.title{
  font-family: Arial;
  font-size: 30px;
  margin-bottom: 15px;
}

.pick-up{
  display: block;
  width: 350px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  background-color: rgb(240, 240, 240);
  border: none;
  font-size: 16px;
}

.destination{
  display: block;
  margin-bottom: 30px;
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  background-color: rgb(240, 240, 240);
  border: none;
  font-size: 16px;
}

.request-button{
  background-color: black;
  color: white;
  border: none;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
}

.later-button{
  background-color: rgb(230, 230, 230);
  color: black;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}